@import 'tailwindcss';

@layer base{
       @font-face {
              font-family: Bold;
              src: url(../fonts/assets_font_IRANYekanXFaNum-Bold.woff2);
       }
       @font-face {
              font-family: Regular;
              src: url(../fonts/assets_font_IRANYekanXFaNum-Regular.woff2);
       }

       .font-bold{
              font-family: Bold;
       }
       .font-regular{
              font-family: Regular;
       }

}

@layer utilities{
       .row{
              @apply flex flex-wrap w-full 
       }
}

@layer components{
       .card{
              @apply flex flex-wrap w-62.5 h-75 md:w-50 lg:w-62.5 xl:w-1/4  *:nth-[1]:h-2/3 *:nth-[2]:h-1/3 *:w-full *:nth-[2]:flex-wrap *:nth-[1]:items-center *:nth-[1]:justify-center p-5 bg-white hover:-translate-y-1 lg:hover:-translate-y-3 hover:shadow-xl hover:shadow-color1/15 *:flex  shadow shadow-gray-500 rounded-[5px] duration-700
       }
       .cart{
              @apply w-10 h-10  flex items-center justify-center shadow shadow-gray-500 bg-white duration-500 hover:bg-color2 hover:shadow-none rounded-[5px] *:w-2/3 *:h-2/3 *:object-cover cursor-pointer
       }
       .card2{
              @apply w-full p-5 xl:p-8  flex *:nth-[2]:h-full *:nth-[2]:flex-wrap items-center  *:nth-[1]:w-12 xl:*:nth-[1]:w-16 *:nth-[1]:h-12 xl:*:nth-[1]:h-16 *:nth-[1]:[clip-path:circle(45%)] bg-light *:flex gap-2 hover:-translate-y-1 lg:hover:-translate-y-3 hover:shadow-xl hover:shadow-color1/15 shadow shadow-gray-500 rounded-[5px] duration-500
       }
       .card3{
              @apply flex  w-1/2 lg:w-1/5 p-2.5   *:w-full *:h-full *:flex-wrap *:flex *:rounded-3xl *:gap-4 *:p-4 *:pb-10 *:justify-center 
       }
       .yellowlink{
              @apply flex absolute justify-between items-center -bottom-4.5 w-25 md:w-2/4 xl:w-fit px-2 xl:px-2.5 py-1.5 gap-2.5 *:text-white *:text-[14px] left-1/2 -translate-x-1/2 bg-color2 rounded-3xl 
       }
       .minilink{
              @apply flex w-full lg:w-fit gap-2 px-2 py-1.5 *:text-[14px] text-black items-center 
       }
       .view{
              @apply w-7 h-7  flex items-center justify-center  bg-color1 duration-500 *:w-2/3 *:h-2/3 *:object-cover cursor-pointer rounded-full group-hover:bg-color2 group-hover:animate-pulse
       }
       .aboutFigures{
              @apply flex items-center justify-center lg:w-1/8 p-4 h-32  w-28 shadow shadow-gray-500 hover:-translate-y-1 lg:hover:-translate-y-3 hover:shadow-xl hover:shadow-color1/15 duration-700
       }
       .footerLink{
              @apply w-10 h-10  bg-white duration-500  rounded-[5px] cursor-pointer 
       }
       
}
@theme{
       --color-color1: #16687e; 
	--color-color2: #f99f1b;
       --color-color3: #e6327c;
       --color-header: #ffe9c8;
       --color-gray1:#777;
       --color-light: #fdf9f6;
       --color-lighter: #f7f7f7;
       --border_light: #f3efee;
       --color-text: #292929;
       --color-footer: #121d2f;
       --color-tabs: #ededed;
}
/* scroll classes______________________________ */
.op{
       opacity: 0;
}
.right{
       transform: translateX(3000px);
}